{% extends '/layout/form/layout.html.twig'|hcore_fullpath %}

{% block content %}
{% set wordCountId = labelId ~ 'WordCount' %}

{% set fullscreenId = "cardFullScreen" ~ labelId %}

<div id="{{ fullscreenId }}" class="card">
  <div class="card-header">
    <div class="wysiwyg-word-count font-weight-bold" id="{{ wordCountId }}"></div>

    {{ include('/layout/tool/fullscreen.html.twig'|hcore_fullpath, {fullscreenId: fullscreenId}) }}
  </div>

  <div class="card-body text-center" style="overflow-y: auto;">
    <div class="{{ hcoreWysiwygCls }}" id="{{ labelId }}" data-wordcount="{{ wordCountId }}" {%if noteditable%}disabled{%else%}name="{{ name }}"{%endif%}>
      {{ value | raw }}
    </div>
  </div>
</div>

{% endblock %}
