<a class="navbar-brand" href="" aria-label="{{ appName }}">
  {# <img class="navbar-brand-logo" style="height: 25px;" src="{{ appLogo }}" alt="{{ appName }}"> #}
  <img class="navbar-brand-logo-mini" src="{{ appLogoMini }}" alt="{{ appName }}">
</a>
