{% set useScrollspy = true %}
{% extends HCoreLayout %}

{% block header %}
<div class="row align-items-center">
  <div class="col-sm mb-2 mb-sm-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{{ hcore_layout_path('object-listing', {classId: classId}) }}">{{ title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
      </ol>
    </nav>

    <h1 class="page-header-title">{{ key }}</h1>
    
    <div class="mt-2">
      <a class="text-body mr-3" href="javascript:;">
        <i class="tio-copy mr-1"></i> Duplicate
      </a>
      <a class="text-body" href="javascript:;">
        <i class="tio-visible-outlined mr-1"></i> Xem trước
      </a>
    </div>
  </div>

  <div class="col-sm-auto">
    <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle mr-1" href="#" data-toggle="tooltip" data-placement="top" title="Previous product">
      <i class="tio-arrow-backward"></i>
    </a>
    <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Next product">
      <i class="tio-arrow-forward"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3">
    <div class="navbar-vertical navbar-expand-lg mb-3 mb-lg-5">
      <button type="button" class="navbar-toggler btn btn-block btn-white mb-3" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu" data-toggle="collapse" data-target="#navbarVerticalNavMenu">
        <span class="d-flex justify-content-between align-items-center">
          <span class="h5 mb-0">Danh mục</span>

          <span class="navbar-toggle-default">
            <i class="tio-menu-hamburger"></i>
          </span>

          <span class="navbar-toggle-toggled">
            <i class="tio-clear"></i>
          </span>
        </span>
      </button>

      <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
        <ul id="navbarSettings" class="js-sticky-block js-scrollspy navbar-nav navbar-nav-lg nav-tabs card card-navbar-nav"
             data-hs-sticky-block-options='{
               "parentSelector": "#navbarVerticalNavMenu",
               "breakpoint": "lg",
               "startPoint": "#navbarVerticalNavMenu",
               "endPoint": "#stickyBlockEndPoint",
               "stickyOffsetTop": 20
             }'>
          {% for panel in layout %}
          <li class="nav-item">
            <a class="nav-link {{ loop.first ? 'active' : '' }}" href="#{{ loop.first ? 'content' : 'content' ~ loop.index }}">
              <i class="tio-chevron-right nav-icon"></i> {{ panel.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="card mb-3 mb-lg-5">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4 form-group">
            <label class="input-label">ID</label>
            <input class="form-control" value="{{ item.id }}" readonly>
          </div>
          <div class="col-sm-4 form-group">
            <label class="input-label">Thời gian tạo</label>
            <input class="form-control" value="{{ item.creationDate|date('d/m/Y H:i') }}" readonly>
          </div>
          <div class="col-sm-4 form-group">
            <label class="input-label">Cập nhật lần cuối</label>
            <input class="form-control" value="{{ item.modificationDate|date('d/m/Y H:i') }}" readonly>
          </div>
        </div>
      </div>
    </div>

    {% for panel in layout %}
    <div id="{{ 'content' ~ loop.index }}" class="card mb-3 mb-lg-5">
      <div class="card-header">
        <h3 class="card-title h4">{{ panel.title }}</h3>
      </div>

      <div class="card-body">
        {% for definition in panel.fields %}
          {{ include('/layout/form/render.html.twig'|hcore_fullpath) }}
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <div class="position-fixed bottom-0 content-centered-x w-100 z-index-99 mb-3" style="max-width: 40rem;">
      <div class="card card-sm bg-dark border-dark mx-2">
        <div class="card-body">
          <div class="row justify-content-center justify-content-sm-between">
            <div class="col">
              <button type="button" class="btn btn-ghost-danger">Xóa</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-ghost-primary mr-2">Ẩn</button>
              <button id="{{ hcoreBtnSaveId }}" class="btn btn-success">Lưu</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="stickyBlockEndPoint"></div>
  </div>
</div>

{# {{ include('/layout/ckeditor.html.twig'|hcore_fullpath) }} #}

{% do pimcore_head_script().appendFile(asset('/js/ckeditor.js'|hcore_asset), 'text/javascript') %}
{% do pimcore_head_script().appendFile(asset('/js/object.js'|hcore_asset), 'text/javascript') %}
{% endblock %}
