{% set newType = classId %}
{% set newUrl = hcore_layout_path('object-create', {classId: classId}) %}

{% extends '/layout/layout-listing.html.twig'|hcore_fullpath %}

{% block tbody %}
{% for item in data %}
  {% set published = item.published %}
  {% set detailLink = hcore_layout_path('object-detail', {classId: classId, id: item.id}) %}

  <tr class="{{ published ? 'text-primary font-weight-bold' : 'text-secondary' }}">
    <td class="table-column-pr-0">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="datatableCheck{{ loop.index }}">
        <label class="custom-control-label" for="datatableCheck{{ loop.index }}"></label>
      </div>
    </td>

    {% for header in headers %}
    <td class="{{ loop.first ? 'table-column-pl-0' : '' }}">
      {% set value = hcore_layout_render_table_value(item, header.name) %}

      <a class="{{ published ? 'text-primary' : 'text-secondary' }}" href="{{ detailLink }}">
        {% if value is iterable %}
          {% if value.type == 'image' %}
            {# <img src="{{ value.path }}"> #}
            <div class="avatar avatar-xl">
                <img class="avatar-img" src="{{ value.path }}" alt="">
              </div>
          {% endif %}
        {% else %}
          {{ value }}
        {% endif %}
      </a>
    </td>
    {% endfor %}
    <td>
      <div class="btn-group" role="group">
        <a class="btn btn-sm btn-white {{ hcoreLoadingCls }}" href="{{ detailLink }}">
          <i class="tio-edit"></i>
        </a>
        
        {# <div class="hs-unfold btn-group">
          <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-white dropdown-toggle dropdown-toggle-empty" href="javascript:;"
             data-hs-unfold-options='{
               "target": "#productsEditDropdown1",
               "type": "css-animation",
               "smartPositionOffEl": "#datatable"
             }'></a>

          <div id="productsEditDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
            <a class="dropdown-item" href="#">
              <i class="tio-delete-outlined dropdown-item-icon"></i> Delete
            </a>
            <a class="dropdown-item" href="#">
              <i class="tio-archive dropdown-item-icon"></i> Archive
            </a>
            <a class="dropdown-item" href="#">
              <i class="tio-publish dropdown-item-icon"></i> Publish
            </a>
            <a class="dropdown-item" href="#">
              <i class="tio-clear dropdown-item-icon"></i> Unpublish
            </a>
          </div>
        </div> #}
      </div>
    </td>
  </tr>
{% endfor %}
{% endblock %}
